/*for doctor image*/

#profileImg{
	position: relative !important;
}



#profileImg .Text {
 position: absolute;
 top: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 /*transition: .5s ease;*/
 /*transform: scale(1,1);*/
 transition: width 2s linear 1s;
 text-align: center;

 
}

#profileImg:hover .Text {
 opacity: 1;
 background-color: #fff;

}

#profileImg:hover img{
	opacity: 0.3;

}


